<!DOCTYPE html>

<html lang="en">

<head>

    <title>Group Buying</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

    <nav>

        <div class="menu-btn">
            ☰
        </div>

        <div class="logo">

            <a href="{{ url_for('home') }}">
                Group Buying
            </a>

        </div>

        <div class="user-btn">
            👤
        </div>

    </nav>

    <div class="layout">

        <aside class="sidebar">

            <a href="{{ url_for('home') }}">
                首頁
            </a>

            <a href="{{ url_for('create_groupbuy') }}">
                建立團購
            </a>

            <a href="{{ url_for('my_groupbuys') }}">
                我的團購
            </a>

            <a href="{{ url_for('my_orders') }}">
                我的訂單
            </a>

            <a href="#">
                個人資料
            </a>

        </aside>

        <main class="content">

            {% block content %}
            {% endblock %}

        </main>

    </div>

</body>

</html>