<!DOCTYPE html>

<html lang="en">

<head>

    <title>Group Buying</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

    <nav>

        <div class="menu-btn" onclick="toggleSidebar()">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="logo">

            <a href="{{ url_for('home') }}">
                Group Buying
            </a>

        </div>
        <div class="user-menu">
            <div class="user-btn" onclick="toggleUserMenu()">
                 <svg width="40" height="40" viewBox="0 0 120 120" fill="none"
                    xmlns="http://www.w3.org/2000/svg" display="block">
                    <circle cx="60" cy="60" r="55" stroke="#333" stroke-width="3"/>
                    <circle cx="60" cy="42" r="18" stroke="#333" stroke-width="3"/>
                    <path d="M30 90C30 72 43 62 60 62C77 62 90 72 90 90"
                        stroke="#333"
                        stroke-width="3"
                        stroke-linecap="round"/>
                </svg>

            </div>
            <div class="dropdown-menu" id="userDropdown">
                
                {% if "user_id" in session %}
                    <div class="user-info">
                        <h3>{{ session["username"] }}</h3>
                        
                        {% if session["plan"]=="pro" %}
                            <div class="plan-badge plan-pro">
                                Pro
                            </div>
                        {% elif session["plan"]=="business" %}
                            <div class="plan-badge plan-business">
                                business
                            </div>
                        {% else %}
                            <div class="plan-badge plan-free">
                                Free
                            </div>
                        {% endif %}
                        
                        <a href="#">個人資料</a>
                        <a href="#">設定</a>
                        <a class="upgrade-btn" href="{{ url_for('pricing') }}">
                                🚀 升級方案
                        </a>
                    </div>
                    <hr>
                    <a href="{{ url_for('logout') }}">登出</a>

                {% else %}
                    <a href="{{ url_for('login') }}">登入</a>
                    <a href="{{ url_for('register') }}">註冊</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="layout">
        <aside id="sidebar" class="sidebar collapsed">
            <div class="group">

            <div class="group-title" onclick="toggleGroup('buyer')">
                <i class="fa-solid fa-cart-shopping"></i> 消費者專區 <i class="fa-solid fa-chevron-down"></i>
            </div>

            <div class="group-content" id="buyer">
                <a href="{{ url_for('my_orders') }}">我的訂單</a>
            </div>

        </div>

        <div class="group">

            <div class="group-title" onclick="toggleGroup('seller')">
                <i class="fa-solid fa-box-open"></i> 團購主專區 <i class="fa-solid fa-chevron-down"></i>
                <!-- ▾ -->
            </div>

            <div class="group-content" id="seller">
                <a href="{{ url_for('create_groupbuy') }}">建立團購</a>
                <a href="{{ url_for('my_groupbuys') }}">我的團購</a>
            </div>

        </div>

        </aside>

        <main class="content">

            {% block content %}
            {% endblock %}

        </main>

    </div>

    <script>
        // 整體 sidebar 收合
        function toggleSidebar() {
            document.getElementById("sidebar").classList.toggle("collapsed");
        }

        // 內部分組收合
        function toggleGroup(id) {
            const el = document.getElementById(id);
            el.classList.toggle("hidden");
        }

        function toggleUserMenu() {
            const menu = document.getElementById("userDropdown");

            if(menu.style.display==="block"){
                menu.style.display="none";
            }
            else {
                menu.style.display="block";
            }
        }

        window.onclick=function(event){
            if(!event.target.closest(".user-menu")) {
                document.getElementById("userDropdown").style.display="none";
            }
        }
    </script>
</body>

</html>