{% extends "base.html" %}

{% block content %}

<h1>

修改訂單

</h1>

<form method="POST">

    <p>

        數量

        <input
            type="number"
            name="quantity"
            value="{{ order.quantity }}"
            min="1"
            required
        >

    </p>

    <p>

        匯款帳號後5碼

        <textarea
            name="remark"
        >{{ order.remark }}</textarea>

    </p>

    <p>

        取貨資訊

        <input
            type="text"
            name="delivery_info"
            value="{{ order.delivery_info }}"
        >

    </p>

    <button type="submit">

        更新訂單

    </button>

</form>

{% endblock %}