{% extends "base.html" %}

{% block content %}

<div class="detail-container">

    <!-- 上方 -->
    <div class="product-section">

        <!-- 左邊圖片 -->
        <div class="product-image">
            <img src="{{ groupbuy.image_url }}">
        </div>

        <!-- 右邊資訊 -->
        <div class="product-info">

            <h1>{{ groupbuy.title }}</h1>

            <div class="price">
                $ {{ groupbuy.price }}
            </div>

            <hr>

            <form method="POST">

                <label>購買數量</label>

                <input
                    type="number"
                    name="quantity"
                    min="1"
                    value="1"
                    required
                >

                <label>匯款帳號後5碼</label>

                <input
                    type="text"
                    name="remark"
                    maxlength="5"
                    pattern="[0-9]{5}"
                    required
                ></input>

                <button class="btn" type="submit">
                    我要跟團
                </button>

            </form>

            <div class="meta">
                <p><i class="fa-regular fa-calendar"></i>  收單日期：{{ groupbuy.deadline }}</p>
            </div>
        </div>

    </div>

    <!-- 下方 -->
    <div class="detail-section">

        <h2>團購資訊</h2>

        <p>
            <strong>取貨方式：</strong>
            {{ groupbuy.delivery_method }}
        </p>

        <p>
            <strong>目前參與人數：</strong>
            {{ groupbuy.participants }} 人
        </p>
        
        <hr>

        <h2>商品介紹</h2>

        <p>
            {{ groupbuy.description }}
        </p>

    </div>

</div>
{% endblock %}