{% extends "base.html" %}

{% block content %}

<h1>歡迎來到 Group Buying 平台</h1>

<p>
提供團購主與消費者的
一站式團購管理平台
</p>

<div class="card-container">

    <h3>歡迎</h3>

    <br><br>

    <a href="{{ url_for('logout') }}">
        登出
    </a>


    <a href="{{ url_for('register') }}">
        註冊
    </a>

    <br><br>

    <a href="{{ url_for('login') }}">
        登入
    </a>
</div>

{% for item in groupbuys %}

<div class="card">

    <img src="{{ item.image_url }}" width="200">
    <h3>{{ item.title }}</h3>
    <p>{{ item.description }}</p>
    <p>{{ item.deadline }}</p>
    <p>{{ item.participants }} 人參與</p>
    <a class="btn" href="{{ url_for('groupbuy_detail', groupbuy_id=item.id)}}">
        查看團購
    </a>

</div>

<hr>

{% endfor %}

{% endblock %}