{% extends "base.html" %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1 class="page_name">登入</h1>

        <form method="POST">

            <div class="input-group">
                <label>Email</label>

                <input
                    type="email"
                    name="email"
                    placeholder="請輸入 Email"
                    required
                >
            </div>

            <div class="input-group">
                <label>密碼</label>

                <input
                    type="password"
                    name="password"
                    placeholder="請輸入密碼"
                    required
                >
            </div>

            {% if error %}
                <p class="error-message">
                    {{ error }}
                </p>
            {% endif %}

            <button
                class="auth-btn"
                type="submit"
            >
                登入
            </button>

        </form>

        <p class="auth-footer">
            還沒有帳號？
            <a href="{{ url_for('register') }}">
                立即註冊
            </a>
        </p>

    </div>

</div>

{% endblock %}