{% extends "base.html" %}

{% block content %}

<h1 class="page_name">我的團購</h1>

{% for groupbuy in groupbuys %}

<div class="card">

    <h3>

        {{ groupbuy.title }}

    </h3>

    <p>

        參與人數：

        {{ groupbuy.participants }}

    </p>

    <p>

        截止日期：

        {{ groupbuy.deadline }}

    </p>

    <a href="{{ url_for('groupbuy_orders', groupbuy_id=groupbuy.id) }}">
        查看跟團名單
    </a>

    <a
        href="{{ url_for(
            'groupbuy_detail',
            groupbuy_id=groupbuy.id
        ) }}"
    >
        查看詳情
    </a>

</div>

<hr>

{% else %}

<p>

    尚未建立任何團購

</p>

{% endfor %}

{% endblock %}