{% extends "base.html" %}

{% block content %}

<h1 class="page_name">我的團購</h1>

{% for groupbuy in groupbuys %}

<div class="order-row">
    <div class="order-product">
        <h3>{{ groupbuy.title }}</h3>
    </div>
        <div class="order-col">參與人數：{{ groupbuy.participants }}
        </div>

        <p>

            截止日期：

            {{ groupbuy.deadline }}

        </p>
    <div class="order-actions">
        <a href="{{ url_for('groupbuy_orders', groupbuy_id=groupbuy.id) }}" class="order1">
            查看跟團名單
        </a>

        <a href="{{ url_for(
                'groupbuy_detail',
                groupbuy_id=groupbuy.id
            ) }}" class="order2">
            查看詳情
        </a>
    </div>
</div>
{% else %}

<p>

    尚未建立任何團購

</p>

{% endfor %}

{% endblock %}