{% extends "base.html" %}

{% block content %}

<h1 class="page_name">我的訂單</h1>

{% for order in orders %}

<div class="order-row">

    <div class="order-product">
        <img src="{{ order.groupbuy.image_url }}">
        <span>{{ order.groupbuy.title }}</span>
    </div>

    <div class="order-col">
        數量：{{ order.quantity }}
    </div>

    <div class="order-col">
        匯款後5碼：
        {{ order.remark or "-" }}
    </div>

    <div class="order-col">
        {{ order.delivery_info or "-" }}
    </div>

    <div class="order-actions">

        <a href="{{ url_for(
            'groupbuy_detail',
            groupbuy_id=order.groupbuy.id
        ) }}" class="order1">
            查看商品
        </a>

        <a href="{{ url_for(
            'edit_order',
            order_id=order.id
        ) }}" class="order2">
            修改
        </a>

        <form
            action="{{ url_for(
                'delete_order',
                order_id=order.id
            ) }}"
            method="POST"
            onsubmit="return confirm('確定要取消跟團嗎？')"
        >
            <button type="submit">
                取消跟團
            </button>

        </form>

    </div>

</div>

{% else %}

<p>尚未參與任何團購</p>

{% endfor %}

{% endblock %}