body {
    font-family: Arial, sans-serif;
    margin: 0;
}

/* 最上方的區塊 */
nav {
    position : fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: #f8f6e2;
    color: white;
    padding:0 20px;
    border-bottom:1px solid #ddd;
    box-sizing: border-box;
}

.error-message{
    color:#e53935;
    font-size:14px;
    margin-top:10px;
    margin-bottom:10px;
}

/* .container {
    padding: 40px;
} */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 45px;
    margin-top: 50px;
}

.card {
    border: 1px solid #ddd;
    /* padding: 20px 20px 10px; */
    padding: 0 0 30px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card h3{
    margin: 18px 10px;
    text-align:center;
    display:flex;
    justify-content:center;
    align-items:center;
    
    font-size: 18px;
    height: 45px;
    min-height: 35px;
    color: #333;

}

.card h3 span{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    line-clamp:2;

    overflow:hidden;

    line-height:1.2;
    color:#333;
    font-size:18px;
}

.card .price{
    font-size: 22px;
    font-weight: bold;
    color: #ff5722;
    margin: 10px;
}

.card .info{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color: gray;
    font-size: 14px;
    /* margin-top:12px; */
    margin: 12px 20px 20px;
    /* margin-bottom: 20px; */
}

.card .info span{
    display: flex;
    align-items: center;     /* icon 與文字垂直置中 */
    /* height: 50px; */
    gap: 6px;
}
/* .card-info i{
    width: 16px;
    text-align: center;
    font-size:12px;
} */

button {
    background: #4A90E2;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* .btn {
    background-color: rgba(255, 178, 13, 0.7);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;
    transition: 0.3s;
} */

.btn{
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(
        135deg,
        #fff540,
        #ffe45f
    );
    color: black;
    padding: 14px 60px;
    border-radius: 12px;
    font-weight: bold;
    transition: 0.3s;
}

.menu-btn {
    color: #333;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
}

.logo a{
    text-decoration:none;
    color:black;
    font-size:24px;
    font-weight:bold;
}

/* 使用者頭貼區塊 */
.user-menu{
    position:relative;
    /* display: flex;
    justify-content: center;
    align-items: center;     */
}

.user-btn {
    cursor: pointer;
    /* font-size:24px; */
}

.dropdown-menu{
    display:none;
    position:absolute;
    right:0;
    top:50px;
    width:230px;
    background:white;
    border:1px solid #ddd;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
    overflow:hidden;
}

.dropdown-menu a{
    display:flex;
    align-items:center;
    gap:12px;
    padding:14px 20px;
    text-decoration:none;
    color:#444;
}

.dropdown-menu a:not(.upgrade-btn):hover{
    background:#f8f8f8;
}

.user-info{
    padding:25px;
    text-align:center;
    color: #000;
}

.plan-badge{
    display:inline-block;
    margin-top:12px;
    padding:6px 14px;
    border-radius:999px;
    font-size:12px;
    font-weight:bold;
}

.plan-free{
    background:#eee;
    color:#666;
}

.plan-pro{
    background:#ffe082;
    color:#ff9800;
}

.plan-business{
    background:#ffd6e8;
    color:#e91e63;
}

.upgrade-btn{
    margin:15px;

    display:block;
    text-align:center;

    background:linear-gradient(
        135deg,
        #ffd54f,
        #ffb300
    );

    color:white !important;
    padding:12px;
    border-radius:12px;
    font-weight:bold;
}

.layout{
    display:flex;
    padding-top: 50px;
}

.sidebar{
    text-align: center;
    width:220px;
    min-height:calc(100vh - 60px);
    border-right:1px solid #ddd;
    padding-top:20px;
    transition: 0.2s;
    background: #f8f8f8;
    overflow: hidden;
    white-space: nowrap;
}

.sidebar a{
    display:block;
    padding:8px 20px;
    text-decoration:none;
    color:black;
}

.sidebar a:hover{
    background:#f5f5f5;
}

.sidebar.collapsed {
    overflow:scroll;
    width: 0px;
}

.sidebar.collapsed .group-title,
.sidebar.collapsed .group-content {
    font-size: 0;
}

/* 主介面 */
.content{
    flex:1;
    /* 上 左右 下 */
    /* padding: 50px 30px 20px;  */
    padding: 0 30px; 
    
}

.page_name {
    text-align: center;
}

/* .group {
    display:flex;
} */

.group-title {
    /* padding: 10px; */
    font-weight: bold;
    cursor: pointer;
    background: #f5f5f5;
    margin-top: 10px;
}

.group-content {
    display: flex;
    flex-direction: column;
    /* padding-left: 15px; */
    align-items: center;
    gap: 8px;
}



.hidden {
    display: none;
}


/* Login 登入、註冊 */
.auth-container{
    display:flex;
    justify-content:center;
    align-items:center;

    padding:50px 20px;
}

.auth-card{
    width:400px;

    background:white;

    padding:40px;

    border-radius:15px;

    box-shadow:0 4px 15px rgba(0,0,0,0.1);
}

.auth-card h1{
    text-align:center;

    margin-bottom:30px;

    color:#333;
}

.input-group{
    margin-bottom:20px;
}

.input-group label{
    display:block;

    margin-bottom:8px;

    color:#555;
    font-weight:600;
}

.input-group input{
    width:100%;

    padding:12px;

    border:1px solid #ddd;
    border-radius:8px;

    font-size:15px;

    box-sizing:border-box;
}

.input-group input:focus{
    outline:none;

    border-color:#4CAF50;
}

.auth-btn{
    width:100%;

    padding:12px;

    border:none;
    border-radius:8px;

    background:#c68c53;
    color:white;

    font-size:16px;
    cursor:pointer;

    margin-top:10px;
}

.auth-btn:hover{
    background:#ac7339;
}

.error-message{
    color:#e53935;

    text-align:center;

    margin:15px 0;
}

.auth-footer{
    margin-top:25px;

    text-align:center;

    color:#666;
}

.auth-footer a{
    text-decoration:none;
    color:#d4aa1f;
}


/* 商品頁面 */
.detail-container{
    max-width:1000px;
    margin:40px auto;
}

.product-section{
    display:flex;
    gap:50px;

    background:white;
    padding:30px;

    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.product-image{
    flex:1;
}

.product-image img{
    width:100%;
    max-width:400px;

    border-radius:12px;
}

.product-info{
    flex:1.2;

    display:flex;
    flex-direction:column;
}

.product-info h1{
    margin:0;
    font-size:32px;
}

.price{
    font-size:36px;
    font-weight:bold;
    color:#ff5a5f;

    margin:20px 0;
}

.meta{
    color:rgb(72, 45, 0);
    line-height:2;
}

.product-info form{
    display:flex;
    flex-direction:column;
    gap:12px;

    margin-top:20px;
}

.product-info input,
.product-info textarea{
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

/* .join-btn{
    margin-top:15px;

    padding:15px;

    border:none;
    border-radius:10px;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;

    background:linear-gradient(
        135deg,
        #5b86ff,
        #7c4dff
    );

    color:white;
}

.join-btn:hover{
    transform:translateY(-2px);
} */

.detail-section{
    margin-top:30px;

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.detail-section h2{
    margin-top:0;
}


/* 價格 */
.pricing-container{
    display:flex;
    gap:30px;
    justify-content:center;
}

.plan-card{
    width:300px;
    padding:30px;
    border-radius:15px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.premium{
    border:3px solid gold;
}

.order-row{
    display:flex;
    align-items:center;

    gap:20px;

    padding:15px 25px;
    margin-bottom:15px;

    background:white;

    border-radius:10px;
    box-shadow:0 2px 8px rgba(0,0,0,0.08);
}

.order-product{
    width:300px;

    display:flex;
    align-items:center;

    gap:15px;
}

.order-product img{
    width:70px;
    height:70px;

    object-fit:cover;
    border-radius:8px;
}

.order-product span{
    font-weight:600;
}

.order-col{
    flex:1;
    text-align:center;
    color:#555;
}

.order-actions{
    display:flex;
    gap:10px;
    align-items:center;
}

.order-actions a,
.order-actions button{
    padding:8px 12px;

    border:none;
    border-radius:6px;

    text-decoration:none;
    cursor:pointer;
}

/* .order-actions a{
    background:#40e0d0;
    color:rgb(0, 0, 0);
} */

/* #7fffd4
40e0d0
*/

.order1{
    background:#7fffd4;
    color:rgb(0, 0, 0);
}

.order2{
    background:#ffe710;
    color:rgb(0, 0, 0);
}

.order-actions button{
    background:#ff402b;
    color:white;
}

.order-actions form{
    margin:0;
}

/* 創建團購 */
.create-container{
    display:flex;
    justify-content:center;
    margin-top:40px;
}

.create-card{
    width:700px;
    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:
        0 5px 20px rgba(0,0,0,.08);
}

.create-card h1{
    text-align:center;
    margin-bottom:40px;
}

.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:25px;
}

.form-group label{
    margin-bottom:8px;
    font-weight:600;
    color:#444;
}

.form-group input,
.form-group textarea,
.form-group select{
    padding:14px;
    border:1px solid #ddd;
    border-radius:12px;

    font-size:15px;

    transition:.2s;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus{
    border-color:#4A90E2;
    outline:none;

    box-shadow:
        0 0 0 3px rgba(74,144,226,.15);
}

.row{
    display:flex;
    gap:20px;
}

.half{
    flex:1;
}

textarea{
    resize:vertical;
}

.submit-btn{
    width:100%;
    padding:16px;

    font-size:18px;
    font-weight:bold;

    border:none;

    border-radius:12px;

    background:linear-gradient(
        135deg,
        #ffd54f,
        #ffb300
    );

    color:white;

    transition:.3s;
}

.submit-btn:hover{
    transform:translateY(-2px);

    box-shadow:
        0 8px 20px rgba(255,179,0,.35);
}