body {
    font-family: Arial, sans-serif;
    margin: 0;
}

nav {
    height:60px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background: #f8f6e2;
    color: white;
    padding:0 20px;
    border-bottom:1px solid #ddd;
}

.container {
    padding: 40px;
}

.card-container {

    display: flex;

    justify-content: center;

    gap: 50px;

    margin-top: 50px;
}

.card {

    border: 1px solid #ddd;

    padding: 30px;

    width: 300px;

    text-align: center;

    border-radius: 10px;

    box-shadow:
      0 0 10px rgba(0,0,0,0.1);
}

button {

    background: #4A90E2;

    color: white;

    border: none;

    padding: 12px 20px;

    border-radius: 5px;

    cursor: pointer;
}



.logo a{
    text-decoration:none;
    color:black;
    font-size:24px;
    font-weight:bold;
}

.layout{
    display:flex;
}

.sidebar{

    width:220px;

    min-height:calc(100vh - 60px);

    border-right:1px solid #ddd;

    padding-top:20px;

}

.sidebar a{

    display:block;

    padding:15px 20px;

    text-decoration:none;

    color:black;
}

.sidebar a:hover{

    background:#f5f5f5;
}

.content{

    flex:1;

    padding:20px;
}